.article-enter {
    transform: scale(0.01);
}



.article-enter.article-enter-active {
    transform: scale(1);
    transition: all 400ms ease-in;
}



.article-leave {
    transform: scale(1);
}



.article-leave.article-leave-active {
    transform: scale(0.01);
    transition: all 300ms ease-in;
}


.article__title {
    margin: 0;
    margin-bottom: 15px;
}



.article__date {
    margin: 0;
    margin-bottom: 40px;
}



.article__content {
    line-height: 26px;
}