.main-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 500px;
    box-sizing: border-box;
}



.main-form__section {
    width: 85%;
}

.select {
    padding-top: 18px;
}